%ul.news-list
  - @news.each do |newsitem|
    %li{ class: "news_items-item", id: "news_items-item-#{newsitem.id}"}
      %h4
        = truncate(newsitem.title, length:50)
      %p.news-item-p
        category:
        %b
          = newsitem.category.title
      %p.news-item-p
        = truncate(newsitem.body, length:60)
      .button-container
        = link_to "view", news_item_path(newsitem), remote: true, class:('btn btn-success')
        = link_to "edit", edit_news_item_path(newsitem), remote: true, class:('btn btn-info')
        = link_to "delete", news_item_path(newsitem), remote: true, method: :delete, data: {confirm:  "are You sure"}, class:('btn btn-danger')
      .clearfix