= form_for @newsItem, html:{class: 'add-news_items-form', multipart: true, multiple: true}, remote: true do |newitem|

  - if @newsItem.errors.any?
    #error_explanation
      %h2
        = pluralize(@newsItem.errors.count, "error")
        prohibitet this product for being saved:
    %ul
      - @newsItem.errors.full_messages.each do |msg|
        %li= msg
  %p
    = newitem.label :title
    =  newitem.text_field :title
  %p
    = newitem.label "Select category:"
    = collection_select(:news_item, :category_id, Category.all, :id, :title)

  -#field for images
  %div
    = newitem.fields_for :images do |i|
      -#=binding.pry
      = render 'image_fields', :img => i
      .links
      -#= link_to_add_association "add_image", newitem, :images, :render_options => {:locals => {:img => i }}

    %p
    - if @newsItem.images != nil
      -#= render "remove_image_button", newsItem: @newsItem


  %p
    = newitem.label :body
    = newitem.cktext_area :body, ckeditor: {:uiColor => '#AADC6E', :toolbar => 'mini'}

  = newitem.submit class: ('btn btn-info'), remote: true