.show-container
  - if @newsItem.image != nil
    = image_tag @newsItem.image.picture.url(:small)
  %h3
    = @newsItem.title
  %hr
  %p
    -#= binding.pry
    Category:
    %b
      = @newsItem.category.title
  %hr
  %p.alltext
    intro text:
    %br
    = @newsItem.intro_text
  %hr
  %p.alltext
    = @newsItem.body.html_safe
  .clearfix
  %hr
  -#%p{id: "picture-#{@newsItem.image.id}"}
  -#  = image_tag @newsItem.image.picture.url(:thumb)
  -#  = link_to 'X', image_path(@newsItem.image), method: :delete, remote: true
