.show-container
  - if @newsItem.images != []
    = image_tag @newsItem.images.first.picture.url(:thumb)
  %h3
    = @newsItem.title
  %hr
  %p
    -#= binding.pry
    Category:
    %b
      = @newsItem.category.title
  %hr
  %p.alltext
    = @newsItem.body.html_safe
  .clearfix
  %hr
  %p
    %ul
      - @newsItem.images.each do |img|
        %li{id: "picture-#{img.id}"}
          = image_tag img.picture.url(:thumb)
          = link_to 'X', image_path(img), method: :delete, remote: true
