.show-container
  - if @newsItem.images != []
    = image_tag @newsItem.images.first.picture.url(:thumb)
  %h3
    = @newsItem.title
  %hr
  %p
    -#= binding.pry
    Category:
    %b
      = @newsItem.category.title
  %hr
  %p.alltext
    = @newsItem.body
  %hr
  %p
    %ul
      - @newsItem.images.each do |img|
        %li{id: "picture-#{img.id}"}
          = img.picture
          = link_to 'X', image_path(img), method: :delete, remote: true
