!!! 5
%html{"ng-app" => "rotaryApp"}
  %head
    %title RC Lviv Center
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -#= render 'layouts/nav'
    .col-xs-12
      - flash.each do |name, msg|
        %br
        = content_tag :div, msg, class: 'alert alert-info'

      %div.login-field
        %p
          - if current_user
            = current_user.email
            |
            = link_to "logout", destroy_user_session_path, method: "DELETE"
            %ul
              %li
                = link_to "admin page", home_index_path
          - else
            = link_to "login", new_user_session_path
      = yield