!!! 5
%html
  %head
    %title RC Lviv Center
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -#= render 'layouts/nav'
    .col-xs-12
      - flash.each do |name, msg|
        %br
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
